<header
  class="flex justify-center items-center py-8 w-full xl:w-[1120px] w-[1120px] mx-auto"
>
  <nav class="flex flex-row gap-x-10  opacity-90">
    
      <a
        href=""
        class=""
      >
        <span
          class="text-2xl md:block hidden font-bold text-yellow-200/70 hover:text-yellow-200"
          >rmcam.dev</span
        >
      </a>
    <div class="flex gap-4 py-1.5">
      <a class="hover:bg-white/10 rounded px-3 transition" href="/#top">Inicio</a>
      <a class="hover:bg-white/10 rounded px-3 transition" href="/#experiencia">Experiencia</a>
      <a class="hover:bg-white/10 rounded px-3 transition" href="/#proyectos">Proyectos</a>
      <a class="hover:bg-white/10 rounded px-3 transition" href="/#sobre-mi">Sobre mi</a>
      <a class="hover:bg-white/10 rounded px-3 transition" href="/#contacto">Contacto</a>
    </div>
  </nav>
</header>
