---
const personalImageAlt = "Camilo Rodríguez";

import Badge from "./Badge.astro";
import GitHubIcon from "./icons/GitHub.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
import Pdf from "./icons/Pdf.astro";
import SocialPill from "./icons/SocialPill.astro";
---

<div class="xl:max-w-xl">
  <div class="flex flex-row sm:gap-x-2">
    <!-- <img
      class="rounded-full shadow-lg size-20"
      src="/projects/rmcam.webp"
      alt={personalImageAlt}
    /> -->

    <h1 class="font-bold tracking-tight sm:text-5xl text-4xl mr-3">
      Hola,<br>
      soy rmcam
    </h1>
    
    <a
      href="https://linkedin.com/in/rmcam"
      target="_blank"
      rel="noopener"
      class="items-center py-3.5 justify-center hover:scale-105 transition"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <p
    class="mt-6 text-xl  text-white-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    <strong>Programador Web Backend</strong> de San Francisco, Putumayo ᴄᴏ. Me especializo
    en el <strong>Desarrollo de Software</strong> y la creación de aplicaciones web
    versatiles.
  </p>
  <nav class="flex justify-center gap-4 mt-8">
    <SocialPill href="https://www.linkedin.com/in/rmcam/">
      <LinkedInIcon class="size-4 md:size-6" />
      Linkedin
    </SocialPill>
    <SocialPill href="https://github.com/rmcam">
      <GitHubIcon class="size-4 md:size-6" /> Github
    </SocialPill>
    <SocialPill
      href="./public/docs/rmcam-cv.pdf"
      download="rmcam-cv"
    >
      <Pdf class="size-4 md:size-6" /> CV
    </SocialPill>
  </nav>
</div>
